.all-songs{
    box-sizing: border-box;
    height: 301.5px;
    width: 350px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-150px);
    display: flex;
    border-radius: 50px 50px 0 0;
    box-shadow: 5px 20px 30px 10px grey;

}

.image-container{
    width: 350px;
    height: 250px;
}

img{
    width: 350px;
    height: 250px;
    border-radius: 50px 50px 0 0;
}


.progress-container{
    height: 7px;
    width: 100px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    top: 90%;
    border-radius: 50px;

    

}


.progress {
	background-color: red;
	height: 100%;
	width: 0%;
	transition: width 0.1s linear;
	border-radius: 50px;
}