.all-songs{
    box-sizing: border-box;
    height: 301.5px;
    width: 350px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-150px);
    display: flex;
    border-radius: 50px 50px 0 0;
    box-shadow: 5px 20px 30px 10px grey;
    background-color: black;

}

.song-details-container{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 13%;
    left: 50%;
    transform: translateX(-100px);
    text-align: center;
    
    
}

.song-details-container h1{
    font-size: 1.8rem;
    font-family: Lobster;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.song-details-container p{
    color: white;
    position: absolute;
    font-size: 0.8rem;
    margin-top: 7px;

}

#end{
    right: -50px;
}

#start{
    left: -50px;
}

.song-details-container img{
    width: 160px;
    height: 160px;
    box-shadow: 0px 0px 20px 5px white;
}


.progress-container{
    height: 7px;
    width: 80%;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 87%;
    border-radius: 50px;
}


.progress {
	background-color: red;
	height: 100%;
	width: 0%;
	transition: width 0.1s linear;
	border-radius: 50px;
}