.wheel{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px);
    border-radius: 0px 0 50px 50px;
    box-shadow: 5px 20px 30px 5px grey;

}

#outer-container{
    height: 300px;
    width: 350px;
    background-color: #CDCDCD;
    position: relative;
    border-radius: 0px 0 50px 50px;

}


#menu-container{
    height: 250px;
    width: 250px;
    background-color: #e7e9ea;
    border: 0.1px solid grey;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-125px, -125px);
}

#center-button{
    height: 130px;
    width: 130px;
    border: 0.1px solid grey;

    background-color: #A0A0A0;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-65px, -65px);
}


.menu-button{
    color: black;
    font-size: 1.2rem;
    cursor: pointer;

}

.menu-button a{
    color: black;
    text-decoration: none !important;
    
}

#menu{
    position: absolute;
    left: 40%;
    top: 8%;
    font-weight: bold;
}

#next{
    position: absolute;
    left: 83%;
    top: 47%;
}

#prev{
    position: absolute;
    left:10%;
    top: 47%;
}

#play{
    position: absolute;
    left:48%;
    top: 84%;
}
