.coverflow{
    box-sizing: border-box;
    height: 301.5px;
    width: 350px;
    position: relative;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-150px);
    display: flex;
    border-radius: 50px 50px 0 0;
    box-shadow: 5px 20px 30px 10px grey;

}

img{
    border-radius: 50px 50px 0 0;
    width: 350px;
}