.home{
    box-sizing: border-box;
    height: 301.5px;
    width: 299.5px;
    position: relative;
    border: 0.5px solid grey;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-150px);
    padding: 20px;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    padding: 10px 0;
    position: relative;

}
ul li span{
    margin-left: 10px;
}

.active{
    background-color: #2B7DE9;
    color: white;
}

.fa-arrow-right{
    position: absolute;
    right: 10px;
    top: 33%;
    color: white;
}