.screen{
    box-sizing: border-box;
    height: 301.5px;
    width: 299.5px;
    position: relative;
    border: 0.5px solid grey;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-150px);
    padding: 20px;
}