.wheel{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px);
}

#outer-container{
    height: 300px;
    width: 300px;
    background-color: grey;
    position: relative;
}


/* #screen-container{

    box-sizing: border-box;
    height: 301.5px;
    width: 299.5px;
    position: relative;
    border: 0.5px solid grey;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-150px);
    padding: 20px;
    
} */

#menu-container{
    height: 280px;
    width: 280px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-140px, -140px);

}

#center-button{
    height: 130px;
    width: 130px;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-65px, -65px);
}


.menu-button{
    color: grey;
}

#menu{
    position: absolute;
    left: 43%;
    top: 10%;
    font-weight: bold;
}

#next{
    position: absolute;
    left: 83%;
    top: 47%;
}

#prev{
    position: absolute;
    left:10%;
    top: 47%;
}

#play{
    position: absolute;
    left:49%;
    top: 84%;
}
